<a href="https://colab.research.google.com/github/lsGee/TIL/blob/master/01.Python/python_ds_4_randomforest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Load

## train data

In [1]:
import pandas as pd

In [3]:
train = pd.read_csv("/content/drive/My Drive/Colab Notebooks/data/bike/train.csv")

print(train.shape)

(10886, 12)

In [4]:
train["datetime"] = pd.to_datetime(train["datetime"])

train["datetime-year"] = train["datetime"].dt.year
train["datetime-month"] = train["datetime"].dt.month
train["datetime-day"] = train["datetime"].dt.day
train["datetime-hour"] = train["datetime"].dt.hour
train["datetime-minute"] = train["datetime"].dt.minute
train["datetime-second"] = train["datetime"].dt.second

print(train.shape)
train.head()

(10886, 18)

             datetime  season  ...  datetime-minute  datetime-second
0 2011-01-01 00:00:00       1  ...                0                0
1 2011-01-01 01:00:00       1  ...                0                0
2 2011-01-01 02:00:00       1  ...                0                0
3 2011-01-01 03:00:00       1  ...                0                0
4 2011-01-01 04:00:00       1  ...                0                0

[5 rows x 18 columns]

## test data

In [5]:
test = pd.read_csv("/content/drive/My Drive/Colab Notebooks/data/bike/test.csv")

print(test.shape)

(6493, 9)

In [6]:
test["datetime"] = pd.to_datetime(test["datetime"])

test["datetime-year"] = test["datetime"].dt.year
test["datetime-month"] = test["datetime"].dt.month
test["datetime-day"] = test["datetime"].dt.day
test["datetime-hour"] = test["datetime"].dt.hour
test["datetime-minute"] = test["datetime"].dt.minute
test["datetime-second"] = test["datetime"].dt.second

print(test.shape)

test.head()

(6493, 15)

             datetime  season  ...  datetime-minute  datetime-second
0 2011-01-20 00:00:00       1  ...                0                0
1 2011-01-20 01:00:00       1  ...                0                0
2 2011-01-20 02:00:00       1  ...                0                0
3 2011-01-20 03:00:00       1  ...                0                0
4 2011-01-20 04:00:00       1  ...                0                0

[5 rows x 15 columns]

## Train

In [7]:
feature_names = ["season", "holiday", "workingday", "weather", 
                 "temp", "atemp", "humidity", "windspeed",
                 "datetime-year", "datetime-month", "datetime-day", 
                 "datetime-hour", "datetime-minute", "datetime-second"]

In [8]:
x_train = train[feature_names]

# train과 test 서로 바꿔쓰는 실수 있으니 항상 확인해주기!
print(x_train.shape)  
x_train.head()

(10886, 14)

   season  holiday  workingday  ...  datetime-hour  datetime-minute  datetime-second
0       1        0           0  ...              0                0                0
1       1        0           0  ...              1                0                0
2       1        0           0  ...              2                0                0
3       1        0           0  ...              3                0                0
4       1        0           0  ...              4                0                0

[5 rows x 14 columns]

In [9]:
x_test = test[feature_names]

# train과 test 서로 바꿔쓰는 실수 있으니 항상 확인해주기!
print(x_test.shape)
x_test.head()

(6493, 14)

   season  holiday  workingday  ...  datetime-hour  datetime-minute  datetime-second
0       1        0           1  ...              0                0                0
1       1        0           1  ...              1                0                0
2       1        0           1  ...              2                0                0
3       1        0           1  ...              3                0                0
4       1        0           1  ...              4                0                0

[5 rows x 14 columns]

In [10]:
label_name = "count"
y_train = train[label_name]

print(y_train.shape)
y_train.head()

(10886,)

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

# Random Forest

### Fit

In [11]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=2)
model

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

**참고) `random_state`**

* 데이터 분할 시 셔플이 이뤄져서 예측결과 소숫점이 매번 달라지는데, 이를 고정하기 위한 값

* 아무 값이나 넣어줘도 OK!

In [12]:
model.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

### Predict

In [13]:
prediction_list = model.predict(x_test)

print(prediction_list.shape)
prediction_list

(6493,)

array([ 12.75,   5.76,   5.12, ..., 146.91, 120.21,  77.46])