<a href="https://colab.research.google.com/github/lsGee/TIL/blob/master/01.Python/python_ds_3_decisiontree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 00. Data Load

## train data

In [ ]:
import pandas as pd

In [ ]:
train = pd.read_csv("/content/drive/My Drive/Colab Notebooks/data/bike/train.csv")

print(train.shape)

(10886, 12)

In [ ]:
train["datetime"] = pd.to_datetime(train["datetime"])

train["datetime-year"] = train["datetime"].dt.year
train["datetime-month"] = train["datetime"].dt.month
train["datetime-day"] = train["datetime"].dt.day
train["datetime-hour"] = train["datetime"].dt.hour
train["datetime-minute"] = train["datetime"].dt.minute
train["datetime-second"] = train["datetime"].dt.second

print(train.shape)
train.head()

(10886, 18)

             datetime  season  ...  datetime-minute  datetime-second
0 2011-01-01 00:00:00       1  ...                0                0
1 2011-01-01 01:00:00       1  ...                0                0
2 2011-01-01 02:00:00       1  ...                0                0
3 2011-01-01 03:00:00       1  ...                0                0
4 2011-01-01 04:00:00       1  ...                0                0

[5 rows x 18 columns]

## test data

In [ ]:
test = pd.read_csv("/content/drive/My Drive/Colab Notebooks/data/bike/test.csv")

print(test.shape)

In [ ]:
test["datetime"] = pd.to_datetime(test["datetime"])

test["datetime-year"] = test["datetime"].dt.year
test["datetime-month"] = test["datetime"].dt.month
test["datetime-day"] = test["datetime"].dt.day
test["datetime-hour"] = test["datetime"].dt.hour
test["datetime-minute"] = test["datetime"].dt.minute
test["datetime-second"] = test["datetime"].dt.second

print(test.shape)

test.head()

(6493, 15)

             datetime  season  ...  datetime-minute  datetime-second
0 2011-01-20 00:00:00       1  ...                0                0
1 2011-01-20 01:00:00       1  ...                0                0
2 2011-01-20 02:00:00       1  ...                0                0
3 2011-01-20 03:00:00       1  ...                0                0
4 2011-01-20 04:00:00       1  ...                0                0

[5 rows x 15 columns]

## Train

In [ ]:
feature_names = ["season", "holiday", "workingday", "weather", 
                 "temp", "atemp", "humidity", "windspeed",
                 "datetime-year", "datetime-month", "datetime-day", 
                 "datetime-hour", "datetime-minute", "datetime-second"]

In [ ]:
x_train = train[feature_names]

# train과 test 서로 바꿔쓰는 실수 있으니 항상 확인해주기!
print(x_train.shape)  
x_train.head()

(10886, 14)

   season  holiday  workingday  ...  datetime-hour  datetime-minute  datetime-second
0       1        0           0  ...              0                0                0
1       1        0           0  ...              1                0                0
2       1        0           0  ...              2                0                0
3       1        0           0  ...              3                0                0
4       1        0           0  ...              4                0                0

[5 rows x 14 columns]

In [ ]:
x_test = test[feature_names]

# train과 test 서로 바꿔쓰는 실수 있으니 항상 확인해주기!
print(x_test.shape)
x_test.head()

(6493, 14)

   season  holiday  workingday  ...  datetime-hour  datetime-minute  datetime-second
0       1        0           1  ...              0                0                0
1       1        0           1  ...              1                0                0
2       1        0           1  ...              2                0                0
3       1        0           1  ...              3                0                0
4       1        0           1  ...              4                0                0

[5 rows x 14 columns]

In [ ]:
label_name = "count"
y_train = train[label_name]

print(y_train.shape)
y_train.head()

(10886,)

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

# 01. Classification

### Fit

In [ ]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()

## 최대 깊이 지정
# model = DecisionTreeClassifier(max_depth=5)

model

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
model.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

### Predict

In [ ]:
prediction_list = model.predict(x_test)

print(prediction_list.shape)
prediction_list

(6493,)

array([ 12,   4,   4, ..., 168,  88,  88])

### Visualize

In [ ]:
## 아래는 타이타닉 기준!

# import graphviz
# from sklearn.tree import export_graphviz

# dot_tree = export_graphviz(model,
#                            feature_names=feature_names,
#                            class_names=["Perish", "Survived"],
#                            out_file=None)

# graphviz.Source(dot_tree)

# 02. Regression

In [ ]:
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor(random_state=2)
model

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=2, splitter='best')

**참고) `random_state`**

* 데이터 분할 시 셔플이 이뤄져서 예측결과 소숫점이 매번 달라지는데, 이를 고정하기 위한 값

* 아무 값이나 넣어줘도 OK!

In [ ]:
model.fit(x_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=2, splitter='best')

In [ ]:
prediction_list = model.predict(x_test)

print(prediction_list.shape)
prediction_list

(6493,)

array([ 17.,   5.,   7., ..., 172., 138.,  88.])