<a href="https://colab.research.google.com/github/lsGee/TIL/blob/master/01.Python/python_ds_5_hyperparameterTuning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Load

## train data

In [ ]:
import pandas as pd

In [ ]:
train = pd.read_csv("/content/drive/My Drive/Colab Notebooks/data/bike/train.csv")

print(train.shape)

(10886, 12)

In [ ]:
train["datetime"] = pd.to_datetime(train["datetime"])

train["datetime-year"] = train["datetime"].dt.year
train["datetime-month"] = train["datetime"].dt.month
train["datetime-day"] = train["datetime"].dt.day
train["datetime-hour"] = train["datetime"].dt.hour
train["datetime-minute"] = train["datetime"].dt.minute
train["datetime-second"] = train["datetime"].dt.second

print(train.shape)
train.head()

(10886, 18)

             datetime  season  ...  datetime-minute  datetime-second
0 2011-01-01 00:00:00       1  ...                0                0
1 2011-01-01 01:00:00       1  ...                0                0
2 2011-01-01 02:00:00       1  ...                0                0
3 2011-01-01 03:00:00       1  ...                0                0
4 2011-01-01 04:00:00       1  ...                0                0

[5 rows x 18 columns]

## test data

In [ ]:
test = pd.read_csv("/content/drive/My Drive/Colab Notebooks/data/bike/test.csv")

print(test.shape)

(6493, 9)

In [ ]:
test["datetime"] = pd.to_datetime(test["datetime"])

test["datetime-year"] = test["datetime"].dt.year
test["datetime-month"] = test["datetime"].dt.month
test["datetime-day"] = test["datetime"].dt.day
test["datetime-hour"] = test["datetime"].dt.hour
test["datetime-minute"] = test["datetime"].dt.minute
test["datetime-second"] = test["datetime"].dt.second

print(test.shape)

test.head()

(6493, 15)

             datetime  season  ...  datetime-minute  datetime-second
0 2011-01-20 00:00:00       1  ...                0                0
1 2011-01-20 01:00:00       1  ...                0                0
2 2011-01-20 02:00:00       1  ...                0                0
3 2011-01-20 03:00:00       1  ...                0                0
4 2011-01-20 04:00:00       1  ...                0                0

[5 rows x 15 columns]

# Random Forest

## Train

In [ ]:
feature_names = ["season", "holiday", "workingday", "weather", 
                 "temp", "atemp", "humidity", "windspeed",
                 "datetime-year", "datetime-month", "datetime-day", 
                 "datetime-hour", "datetime-minute", "datetime-second"]

In [ ]:
X_train = train[feature_names]
print(X_train.shape)
X_train.head()

(10886, 14)

   season  holiday  workingday  ...  datetime-hour  datetime-minute  datetime-second
0       1        0           0  ...              0                0                0
1       1        0           0  ...              1                0                0
2       1        0           0  ...              2                0                0
3       1        0           0  ...              3                0                0
4       1        0           0  ...              4                0                0

[5 rows x 14 columns]

In [ ]:
x_test = test[feature_names]

# train과 test 서로 바꿔쓰는 실수 있으니 항상 확인해주기!
print(x_test.shape)
x_test.head()

(6493, 14)

   season  holiday  workingday  ...  datetime-hour  datetime-minute  datetime-second
0       1        0           1  ...              0                0                0
1       1        0           1  ...              1                0                0
2       1        0           1  ...              2                0                0
3       1        0           1  ...              3                0                0
4       1        0           1  ...              4                0                0

[5 rows x 14 columns]

In [ ]:
### count ###
import numpy as np

y_train_count = train["count"]
print(y_train_count.shape)

# RMLSE 측정공식 사용하기 위해 log + 1
y_train_log_count = np.log(y_train_count + 1)
print(y_train_log_count.shape)
y_train_log_count.head()

(10886,)
(10886,)

0    2.833213
1    3.713572
2    3.496508
3    2.639057
4    0.693147
Name: count, dtype: float64

In [ ]:
### causal ###
y_train_casual = train["casual"]
print(y_train_casual.shape)
y_train_casual.head()

y_train_log_casual = np.log(y_train_casual + 1)
print(y_train_log_casual.shape)
y_train_log_casual.head()

(10886,)
(10886,)

0    1.386294
1    2.197225
2    1.791759
3    1.386294
4    0.000000
Name: casual, dtype: float64

In [ ]:
### registered ###
y_train_registered = train["registered"]
print(y_train_registered.shape)
y_train_registered.head()

y_train_log_registered = np.log(y_train_registered + 1)
print(y_train_log_registered.shape)
y_train_log_registered.head()

(10886,)
(10886,)

0    2.639057
1    3.496508
2    3.332205
3    2.397895
4    0.693147
Name: registered, dtype: float64

[RandomForestRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html?highlight=random%20forest%20regressor#sklearn.ensemble.RandomForestRegressor)의 파라미터를 조절해 성능을 더욱 향상시킬 수 있다.

**[ Hyper Parameter]**
* `n_estimators` :  트리의 개수
* `max_depth` :  트리의 최대 깊이
* `max_features` :  전체 features 중 사용할 최대 개수(%) 예) 0.5(50%)

등등

**참고) 랜덤포레스트 이외의 모델**
* Gradient Boosting
* XGBoost
* LightGBM

In [ ]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=10,
                              n_jobs=-1,
                              random_state=37)
model

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=10, n_jobs=-1, oob_score=False,
                      random_state=37, verbose=0, warm_start=False)

## Hyperparameter Tuning

### Random Search
: 일반적으로 가장 많이 쓰이는 Hyperparameter Tuning 방식

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import mean_squared_log_error

n_estimators = 10
num_loop = 10

# 10번의 루프를 돌면서 서로 다른 10개의 RandomForest 모델 생성
for loop in range(num_loop):
  # 랜덤한 max_depth, max_features 조합을 만들어낸다.
  max_depth = np.random.randint(2, 100)
  max_features = np.random.uniform(0.1, 1.0)

  # 위에서 생성된 랜덤한 max_depth, max_features 값과
  # 고정된 n_estimators를 사용해(hyperparameter) 모델 생성
  model = RandomForestRegressor(n_estimators = n_estimators,
                                max_depth = max_depth, 
                                max_features = max_features,
                                n_jobs = -1,
                                random_state = 2)
  # Cross Validation
  # log + 1
  y_predict_log_count = cross_val_predict(model, x_train, y_train_log_count, cv=20)
  y_predict_log_casual = cross_val_predict(model, x_train, y_train_log_casual, cv=20)
  y_predict_log_registered = cross_val_predict(model, x_train, y_train_log_registered, cv=20)

  y_predict_count = np.exp(y_predict_log_count) - 1
  y_predict_casual = np.exp(y_predict_log_casual) - 1
  y_predict_registered = np.exp(y_predict_log_registered) - 1

  # 기하평균 (bike sharing demand 경진대회용..!)
  y_predict = np.sqrt((y_predict_casual + y_predict_registered) * y_predict_count)

  score = mean_squared_log_error(y_train, y_predict)
  score = np.sqrt(score)
  print(f"n_estimators = {n_estimators}, max_depth = {max_depth: .6f}, Score(RMSLE) = {score:.5f}")

n_estimators = 10, max_depth =  48.000000, Score(RMSLE) = 0.37844
n_estimators = 10, max_depth =  95.000000, Score(RMSLE) = 0.38861
n_estimators = 10, max_depth =  41.000000, Score(RMSLE) = 0.40849
n_estimators = 10, max_depth =  14.000000, Score(RMSLE) = 0.51593
n_estimators = 10, max_depth =  32.000000, Score(RMSLE) = 0.38099
n_estimators = 10, max_depth =  57.000000, Score(RMSLE) = 0.38861
n_estimators = 10, max_depth =  49.000000, Score(RMSLE) = 0.50441
n_estimators = 10, max_depth =  17.000000, Score(RMSLE) = 0.42860
n_estimators = 10, max_depth =  84.000000, Score(RMSLE) = 0.41911
n_estimators = 10, max_depth =  13.000000, Score(RMSLE) = 0.48594

## Fit & Predict

In [ ]:
model.fit(X_train, y_train_log_casual)

log_casual_predictions = model.predict(X_test)

model.fit(X_train, y_train_log_registered)

log_registered_predictions = model.predict(X_test)

model.fit(X_train, y_train_log_count)

log_count_predictions = model.predict(X_test)

casual_predictions = np.exp(log_casual_predictions) - 1
registered_predictions = np.exp(log_registered_predictions) - 1
count_predictions = np.exp(log_count_predictions) - 1

predictions = np.sqrt((casual_predictions + registered_predictions) * count_predictions)

print(predictions.shape)
predictions

(6493,)

array([ 13.8,   7.1,   4.7, ..., 161.5, 116. ,  69.3])

# Random Forest

## Train

In [ ]:
feature_names = ["season", "holiday", "workingday", "weather", 
                 "temp", "atemp", "humidity", "windspeed",
                 "datetime-year", "datetime-month", "datetime-day", 
                 "datetime-hour", "datetime-minute", "datetime-second"]

In [ ]:
x_train = train[feature_names]

# train과 test 서로 바꿔쓰는 실수 있으니 항상 확인해주기!
print(x_train.shape)  
x_train.head()

(10886, 14)

   season  holiday  workingday  ...  datetime-hour  datetime-minute  datetime-second
0       1        0           0  ...              0                0                0
1       1        0           0  ...              1                0                0
2       1        0           0  ...              2                0                0
3       1        0           0  ...              3                0                0
4       1        0           0  ...              4                0                0

[5 rows x 14 columns]

In [ ]:
x_test = test[feature_names]

# train과 test 서로 바꿔쓰는 실수 있으니 항상 확인해주기!
print(x_test.shape)
x_test.head()

(6493, 14)

   season  holiday  workingday  ...  datetime-hour  datetime-minute  datetime-second
0       1        0           1  ...              0                0                0
1       1        0           1  ...              1                0                0
2       1        0           1  ...              2                0                0
3       1        0           1  ...              3                0                0
4       1        0           1  ...              4                0                0

[5 rows x 14 columns]

In [ ]:
label_name = "count"
y_train = train[label_name]

print(y_train.shape)
y_train.head()

(10886,)

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

[RandomForestRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html?highlight=random%20forest%20regressor#sklearn.ensemble.RandomForestRegressor)의 파라미터를 조절해 성능을 더욱 향상시킬 수 있다.

**[ Hyper Parameter]**
* `n_estimators` :  트리의 개수
* `max_depth` :  트리의 최대 깊이
* `max_features` :  전체 features 중 사용할 최대 개수(%) 예) 0.5(50%)

등등

**참고) 랜덤포레스트 이외의 모델**
* Gradient Boosting
* XGBoost
* LightGBM

In [ ]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=10,
                              n_jobs=-1,
                              random_state=37)
model

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=10, n_jobs=-1, oob_score=False,
                      random_state=37, verbose=0, warm_start=False)

## Hyperparameter Tuning

### Random Search (Coarse)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import mean_squared_log_error

# 일반적으로 트리 개수는 300, 반복횟수(루프)는 100으로 지정함
n_estimators = 10   # 300
num_loop = 10       # 100

# 10번의 루프를 돌면서 서로 다른 10개의 RandomForest 모델 생성
for loop in range(num_loop):
  # 랜덤한 max_depth, max_features 조합을 만들어낸다(범위는 최소 ~ 최대값)
  max_depth = np.random.randint(2, 100)
  max_features = np.random.uniform(0.1, 1.0)

  # 위에서 생성된 랜덤한 max_depth, max_features 값과
  # 고정된 n_estimators를 사용해(hyperparameter) 모델 생성
  model = RandomForestRegressor(n_estimators = n_estimators,
                                max_depth = max_depth, 
                                max_features = max_features,
                                n_jobs = -1,
                                random_state = 2)
  # Cross Validation
  y_predict = cross_val_predict(model, x_train, y_train_log_count, cv=20)

  # RMSLE
  score = mean_squared_log_error(y_train, y_predict)
  score = np.sqrt(score)

  print(f"n_estimators = {n_estimators}, max_depth = {max_depth:2}, max_features = {max_features:.6f}, Score(RMSLE) = {score:.5f}")

n_estimators = 10, max_depth = 72, max_features = 0.829819, Score(RMSLE) = 3.12772
n_estimators = 10, max_depth = 76, max_features = 0.301938, Score(RMSLE) = 3.13029
n_estimators = 10, max_depth = 99, max_features = 0.319055, Score(RMSLE) = 3.13029
n_estimators = 10, max_depth = 45, max_features = 0.586097, Score(RMSLE) = 3.12878
n_estimators = 10, max_depth = 65, max_features = 0.581354, Score(RMSLE) = 3.12878
n_estimators = 10, max_depth = 81, max_features = 0.588079, Score(RMSLE) = 3.12878
n_estimators = 10, max_depth = 66, max_features = 0.445695, Score(RMSLE) = 3.13011
n_estimators = 10, max_depth = 10, max_features = 0.969105, Score(RMSLE) = 3.12683
n_estimators = 10, max_depth = 76, max_features = 0.759750, Score(RMSLE) = 3.12646
n_estimators = 10, max_depth = 97, max_features = 0.128756, Score(RMSLE) = 3.14504

### Random Search (Fine)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import mean_squared_log_error

# 일반적으로 트리 개수는 300, 반복횟수(루프)는 100으로 지정함
n_estimators = 10   # 300
num_loop = 10       # 100

# 10번의 루프를 돌면서 서로 다른 10개의 RandomForest 모델 생성
for loop in range(num_loop):
  # Coarse Search에서 구한 상위 5개 값을 기준으로 범위를 잡는다
  max_depth = np.random.randint(10, 81)
  max_features = np.random.uniform(0.301938, 0.969105)  # 최소값과 최대값

  # 위에서 생성된 랜덤한 max_depth, max_features 값과
  # 고정된 n_estimators를 사용해(hyperparameter) 모델 생성
  model = RandomForestRegressor(n_estimators = n_estimators,
                                max_depth = max_depth, 
                                max_features = max_features,
                                n_jobs = -1,
                                random_state = 2)
  # Cross Validation
  y_predict = cross_val_predict(model, x_train, y_train_log_count, cv=20)

  # RMSLE
  score = mean_squared_log_error(y_train, y_predict)
  score = np.sqrt(score)

  print(f"n_estimators = {n_estimators}, max_depth = {max_depth:2}, max_features = {max_features:.6f}, Score(RMSLE) = {score:.5f}")

n_estimators = 10, max_depth = 72, max_features = 0.944709, Score(RMSLE) = 3.12637
n_estimators = 10, max_depth = 56, max_features = 0.818339, Score(RMSLE) = 3.12772
n_estimators = 10, max_depth = 43, max_features = 0.891794, Score(RMSLE) = 3.12693
n_estimators = 10, max_depth = 19, max_features = 0.654497, Score(RMSLE) = 3.12773
n_estimators = 10, max_depth = 56, max_features = 0.927152, Score(RMSLE) = 3.12693
n_estimators = 10, max_depth = 77, max_features = 0.850435, Score(RMSLE) = 3.12772
n_estimators = 10, max_depth = 61, max_features = 0.637310, Score(RMSLE) = 3.12878
n_estimators = 10, max_depth = 64, max_features = 0.827295, Score(RMSLE) = 3.12772
n_estimators = 10, max_depth = 34, max_features = 0.478123, Score(RMSLE) = 3.13011
n_estimators = 10, max_depth = 36, max_features = 0.473471, Score(RMSLE) = 3.13011

## Fit

**참고) `random_state`**

* 데이터 분할 시 셔플이 이뤄져서 예측결과 소숫점이 매번 달라지는데, 이를 고정하기 위한 값

* 아무 값이나 넣어줘도 OK!

In [ ]:
model.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=10, n_jobs=-1, oob_score=False,
                      random_state=37, verbose=0, warm_start=False)

## Predict

In [ ]:
prediction_list = model.predict(x_test)

print(prediction_list.shape)
prediction_list

(6493,)

array([ 13.8,   7.1,   4.7, ..., 161.5, 116. ,  69.3])